html { 
   background-color: gray; 
   color: black;  
   }
body { 
   font-family: verdana,helvetica,arial,sans-serif; 
   font-size: 12px; 
   min-height: 300em;  
   }
div#header { 
   background-color: green; color: black; 
   border: groove 2px gray; border-radius: 20px;  
   padding: 1em; 
   min-width: 300px; min-height: 80px; 
   }
div#content { 
   border-left: ridge 2px gray; border-right: ridge 2px gray; 
   border-radius: 20px;  
   padding: 1em; 
   min-width: 300px; min-height: 100px; 
   }
div#content table, div#content td, div#content th {
    border: 1px solid gray; 
    border-collapse: collapse;
    margin: 0; padding: 0.5em;
   }
div#content tbody td { 
   background-color: #ccc; 
   }
div#content tbody th { 
   background-color: #999; 
   }
div#content tbody tr.odd td { 
   background-color: #eee; 
   }
div#content tbody tr.odd th { 
   background-color: #ccc; 
   } 
div#content fieldset { 
   border: 1px solid #781351; 
   width: 18em; padding: 1em; 
   }
div#content legend { 
   background-color: olive; color: #fff; 
   border: 1px solid gray;
   padding: 0.5em; 
    }
div#content input { 
   background-color: #fee3ad; 
   color: #781351; 
   border: 1px solid #781351 
   }
div#content .submit input { 
   background-color: #ffa20f; 
   color: #000; 
   border: 2px outset #d7b9c9; 
   }
div#footer { 
   background-color: black; color: white; 
   border: groove 2px gray; border-radius: 20px;  
   padding: 1em; min-width: 300px; min-height: 80px; 
   }
   
a:link, a:visited  { 
   border-bottom: 1px solid #a8bfcf; 
   }
a:link, a:visited, a:hover { 
   text-decoration: none; 
   }
a   { 
   background-color: inherit; color: inherit; 
  }
  
div#tip {
background-color: white; 
background-repeat: repeat-x; 
background-position: 5em 10em; 
background-attachment: fixed;
}  

div#tan {
background-color: yellow; 
background-repeat: repeat-x; 
background-position: 5em 10em; 
background-attachment: fixed;
} 